/*Pagina realizada en conjunto Hasta e1 1 de Enero*/
/*Nombre de los colaboradores*/
/*
	Alvaro Coyllo
	Andres Palomino Carlos
	Peve Carhuayo
	Jordan Aguilar

	Actual Manejador de pagina : ERICK

*/

/*tajetas de estadisticas*/
.estadisticas{
	margin-left: 130px;
	width: 80%;
	height: 60px;
}
.estadisticas h2, .titulo_directores h2{
	font-size: 30px;
	color: #505050;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	padding-bottom: 5px;
}
.titulo_Estadistica, .titulo_directores{
	border-bottom: 4px solid #C4C4C4;
	width: 50%;
}
.centro{
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*
.fallecidos{

	background-color: #1EBCB0;
	width: 33.33%;
}
.cont_medio{
	width: 33.33%;
	margin-right: 15px;
}
.cont_ultimo{
	width: 33.33%;
	display: flex;
	flex-direction: column;


}*/
/*nueva estadistica*/





























































































































































































































































































































































































































































































































































